<a href="https://colab.research.google.com/github/sparsh2002/Advanced_Natural_Language_Processing/blob/master/NLP_3_AsianReligiousDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk

In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset_labelled = pd.read_csv('/content/AllBooks_baseline_DTM_Labelled.csv')

In [5]:
dataset_labelled.head()

,Unnamed: 0,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,Buddhism_Ch1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Buddhism_Ch2,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Buddhism_Ch3,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Buddhism_Ch4,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Buddhism_Ch5,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
dataset_unlabelled = pd.read_csv('/content/AllBooks_baseline_DTM_Unlabelled.csv')

In [8]:
dataset_unlabelled.head()

,# foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,convict,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
dataset_labelled.columns

Index(['Unnamed: 0', 'foolishness', 'hath', 'wholesome', 'takest', 'feelings',
       'anger', 'vaivaswata', 'matrix', 'kindled',
       ...
       'erred', 'thinkest', 'modern', 'reigned', 'sparingly', 'visual',
       'thoughts', 'illumines', 'attire', 'explains'],
      dtype='object', length=8267)

In [12]:
dataset_labelled['Unnamed: 0'].unique()

array(['Buddhism_Ch1', 'Buddhism_Ch2', 'Buddhism_Ch3', 'Buddhism_Ch4',
       'Buddhism_Ch5', 'Buddhism_Ch6', 'Buddhism_Ch7', 'Buddhism_Ch8',
       'Buddhism_Ch9', 'Buddhism_Ch10', 'Buddhism_Ch11', 'Buddhism_Ch12',
       'Buddhism_Ch13', 'Buddhism_Ch14', 'Buddhism_Ch15', 'Buddhism_Ch16',
       'Buddhism_Ch17', 'Buddhism_Ch18', 'Buddhism_Ch19', 'Buddhism_Ch20',
       'Buddhism_Ch21', 'Buddhism_Ch22', 'Buddhism_Ch23', 'Buddhism_Ch24',
       'Buddhism_Ch25', 'Buddhism_Ch26', 'Buddhism_Ch27', 'Buddhism_Ch28',
       'Buddhism_Ch29', 'Buddhism_Ch30', 'Buddhism_Ch31', 'Buddhism_Ch32',
       'Buddhism_Ch33', 'Buddhism_Ch34', 'Buddhism_Ch35', 'Buddhism_Ch36',
       'Buddhism_Ch37', 'Buddhism_Ch38', 'Buddhism_Ch39', 'Buddhism_Ch40',
       'Buddhism_Ch41', 'Buddhism_Ch42', 'Buddhism_Ch43', 'Buddhism_Ch44',
       'Buddhism_Ch45', 'Buddhism_Ch46', 'TaoTeChing_Ch1',
       'TaoTeChing_Ch2', 'TaoTeChing_Ch3', 'TaoTeChing_Ch4',
       'TaoTeChing_Ch5', 'TaoTeChing_Ch6', 'TaoTeChing_Ch7',
       'TaoTeChing_Ch8', 'TaoTeChing_Ch9', 'TaoTeChing_Ch10',
       'TaoTeChing_Ch11', 'TaoTeChing_Ch12', 'TaoTeChing_Ch13',
       'TaoTeChing_Ch14', 'TaoTeChing_Ch15', 'TaoTeChing_Ch16',
       'TaoTeChing_Ch17', 'TaoTeChing_Ch18', 'TaoTeChing_Ch19',
       'TaoTeChing_Ch20', 'TaoTeChing_Ch21', 'TaoTeChing_Ch22',
       'TaoTeChing_Ch23', 'TaoTeChing_Ch24', 'TaoTeChing_Ch25',
       'TaoTeChing_Ch26', 'TaoTeChing_Ch27', 'TaoTeChing_Ch28',
       'TaoTeChing_Ch29', 'TaoTeChing_Ch30', 'TaoTeChing_Ch31',
       'TaoTeChing_Ch32', 'TaoTeChing_Ch33', 'TaoTeChing_Ch34',
       'TaoTeChing_Ch35', 'TaoTeChing_Ch36', 'TaoTeChing_Ch37',
       'TaoTeChing_Ch38', 'TaoTeChing_Ch39', 'TaoTeChing_Ch40',
       'TaoTeChing_Ch41', 'TaoTeChing_Ch42', 'TaoTeChing_Ch43',
       'TaoTeChing_Ch44', 'TaoTeChing_Ch45', 'TaoTeChing_Ch46',
       'TaoTeChing_Ch47', 'TaoTeChing_Ch48', 'TaoTeChing_Ch49',
       'TaoTeChing_Ch50', 'TaoTeChing_Ch51', 'TaoTeChing_Ch52',
       'TaoTeChing_Ch53', 'TaoTeChing_Ch54', 'TaoTeChing_Ch55',
       'TaoTeChing_Ch56', 'TaoTeChing_Ch57', 'TaoTeChing_Ch58',
       'TaoTeChing_Ch59', 'TaoTeChing_Ch60', 'TaoTeChing_Ch61',
       'TaoTeChing_Ch62', 'TaoTeChing_Ch63', 'TaoTeChing_Ch64',
       'TaoTeChing_Ch65', 'TaoTeChing_Ch66', 'TaoTeChing_Ch67',
       'TaoTeChing_Ch68', 'TaoTeChing_Ch69', 'TaoTeChing_Ch70',
       'TaoTeChing_Ch71', 'TaoTeChing_Ch72', 'TaoTeChing_Ch73',
       'TaoTeChing_Ch74', 'TaoTeChing_Ch75', 'TaoTeChing_Ch76',
       'TaoTeChing_Ch77'], dtype=object)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [14]:
model = LogisticRegression()

In [19]:
X_train = dataset_labelled.iloc[:, 1:]
y_train = dataset_labelled['Unnamed: 0']

In [20]:
X_train.head()

,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,convict,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
y_train.head()

0    Buddhism_Ch1
1    Buddhism_Ch2
2    Buddhism_Ch3
3    Buddhism_Ch4
4    Buddhism_Ch5
Name: Unnamed: 0, dtype: object

In [24]:
X_train.describe()

,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,convict,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
count,123.0,123.0,123.0,123.0,123.000000,123.000000,123.0,123.0,123.0,123.0,...,122.0,122.0,122.0,122.0,122.0,122.0,122.000000,122.0,122.0,122.0
mean,0.0,0.0,0.0,0.0,0.154472,0.008130,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.073770,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,1.063805,0.090167,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.500711,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,11.000000,1.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.000000,0.0,0.0,0.0

In [25]:
X_train.isna().sum()

foolishness    0
hath           0
wholesome      0
takest         0
feelings       0
              ..
visual         1
thoughts       1
illumines      1
attire         1
explains       1
Length: 8266, dtype: int64

In [26]:
X_train = X_train.fillna(0)

In [27]:
X_train.isna().sum()

foolishness    0
hath           0
wholesome      0
takest         0
feelings       0
              ..
visual         0
thoughts       0
illumines      0
attire         0
explains       0
Length: 8266, dtype: int64

In [28]:
y_train.isna().sum()

0

In [29]:
model.fit(X_train , y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [30]:
X_input = dataset_unlabelled

In [32]:
X_input.head()

,# foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,convict,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
X_train.columns

Index(['foolishness', 'hath', 'wholesome', 'takest', 'feelings', 'anger',
       'vaivaswata', 'matrix', 'kindled', 'convict',
       ...
       'erred', 'thinkest', 'modern', 'reigned', 'sparingly', 'visual',
       'thoughts', 'illumines', 'attire', 'explains'],
      dtype='object', length=8266)

In [34]:
X_input.columns

Index(['# foolishness', 'hath', 'wholesome', 'takest', 'feelings', 'anger',
       'vaivaswata', 'matrix', 'kindled', 'convict',
       ...
       'erred', 'thinkest', 'modern', 'reigned', 'sparingly', 'visual',
       'thoughts', 'illumines', 'attire', 'explains'],
      dtype='object', length=8266)

In [35]:
X_input = X_input.rename(columns = {'# foolishness':'foolishness'})

In [37]:
a = X_train.columns
b = X_input.columns

In [38]:
for i in range(len(a)):
  if(a[i]!=b[i]):
    print(a[i] , " " , b[i])

FALSE   false
TRUE   true

In [39]:
X_input = X_input.rename(columns = {'false':'FALSE'})
X_input = X_input.rename(columns = {'true':'TRUE'})

In [41]:
X_input.isna().sum()

foolishness    0
hath           0
wholesome      0
takest         0
feelings       0
              ..
visual         1
thoughts       1
illumines      1
attire         1
explains       1
Length: 8266, dtype: int64

In [42]:
X_input = X_input.fillna(0)

In [43]:
X_input.isna().sum()

foolishness    0
hath           0
wholesome      0
takest         0
feelings       0
              ..
visual         0
thoughts       0
illumines      0
attire         0
explains       0
Length: 8266, dtype: int64

In [44]:
y_pred = model.predict(X_input)

In [45]:
y_pred

array(['Buddhism_Ch1', 'Buddhism_Ch2', 'Buddhism_Ch3', 'Buddhism_Ch4',
       'Buddhism_Ch5', 'Buddhism_Ch6', 'Buddhism_Ch7', 'Buddhism_Ch8',
       'Buddhism_Ch9', 'Buddhism_Ch10', 'Buddhism_Ch11', 'Buddhism_Ch12',
       'Buddhism_Ch13', 'Buddhism_Ch14', 'Buddhism_Ch15', 'Buddhism_Ch16',
       'Buddhism_Ch17', 'Buddhism_Ch18', 'Buddhism_Ch19', 'Buddhism_Ch20',
       'Buddhism_Ch21', 'Buddhism_Ch22', 'Buddhism_Ch23', 'Buddhism_Ch24',
       'Buddhism_Ch25', 'Buddhism_Ch26', 'Buddhism_Ch27', 'Buddhism_Ch28',
       'Buddhism_Ch29', 'Buddhism_Ch30', 'Buddhism_Ch31', 'Buddhism_Ch32',
       'Buddhism_Ch33', 'Buddhism_Ch34', 'Buddhism_Ch35', 'Buddhism_Ch36',
       'Buddhism_Ch37', 'Buddhism_Ch38', 'Buddhism_Ch39', 'Buddhism_Ch40',
       'Buddhism_Ch41', 'TaoTeChing_Ch24'], dtype=object)

In [46]:
X = X_train
y = y_train

In [47]:
## Check accuracy after demo test train split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
import warnings
model = LogisticRegression(max_iter=1000)
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    model.fit(X_train, y_train)

In [57]:
y_pred = model.predict(X_test)

In [58]:
from sklearn.metrics import accuracy_score

In [59]:
accuracy = accuracy_score(y_test, y_pred)

In [61]:
y_pred

array(['Buddhism_Ch20', 'Buddhism_Ch14', 'Buddhism_Ch43', 'Buddhism_Ch14',
       'Buddhism_Ch14', 'Buddhism_Ch40', 'Buddhism_Ch14',
       'TaoTeChing_Ch40', 'Buddhism_Ch43', 'TaoTeChing_Ch47',
       'Buddhism_Ch14', 'TaoTeChing_Ch66', 'Buddhism_Ch43',
       'Buddhism_Ch14', 'Buddhism_Ch14', 'Buddhism_Ch20',
       'TaoTeChing_Ch35', 'Buddhism_Ch14', 'Buddhism_Ch14',
       'Buddhism_Ch15', 'Buddhism_Ch14', 'Buddhism_Ch20',
       'TaoTeChing_Ch40', 'TaoTeChing_Ch34', 'Buddhism_Ch14'],
      dtype=object)